body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2557 {
  position:absolute;
  left:100px;
  top:20px;
  width:802px;
  height:41px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:12px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2559 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:560px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:272px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u2561 {
  position:absolute;
  left:199px;
  top:60px;
  width:703px;
  height:560px;
  color:#D7D7D7;
}
#u2562 {
  position:absolute;
  left:2px;
  top:272px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2563 {
  position:absolute;
  left:417px;
  top:27px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2564 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2565 {
  position:absolute;
  left:807px;
  top:573px;
  width:74px;
  height:27px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2567 {
  position:absolute;
  left:723px;
  top:573px;
  width:74px;
  height:27px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2570 {
  position:absolute;
  left:200px;
  top:120px;
  width:707px;
  height:95px;
}
#u2571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2571 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2573 {
  position:absolute;
  left:58px;
  top:0px;
  width:79px;
  height:30px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2575 {
  position:absolute;
  left:137px;
  top:0px;
  width:108px;
  height:30px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2577 {
  position:absolute;
  left:245px;
  top:0px;
  width:109px;
  height:30px;
}
#u2578 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2579 {
  position:absolute;
  left:354px;
  top:0px;
  width:95px;
  height:30px;
}
#u2580 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2581 {
  position:absolute;
  left:449px;
  top:0px;
  width:88px;
  height:30px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2583 {
  position:absolute;
  left:537px;
  top:0px;
  width:76px;
  height:30px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2585 {
  position:absolute;
  left:613px;
  top:0px;
  width:89px;
  height:30px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2587 {
  position:absolute;
  left:0px;
  top:30px;
  width:58px;
  height:30px;
}
#u2588 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2589 {
  position:absolute;
  left:58px;
  top:30px;
  width:79px;
  height:30px;
}
#u2590 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2591 {
  position:absolute;
  left:137px;
  top:30px;
  width:108px;
  height:30px;
}
#u2592 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2593 {
  position:absolute;
  left:245px;
  top:30px;
  width:109px;
  height:30px;
}
#u2594 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2595 {
  position:absolute;
  left:354px;
  top:30px;
  width:95px;
  height:30px;
}
#u2596 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2597 {
  position:absolute;
  left:449px;
  top:30px;
  width:88px;
  height:30px;
}
#u2598 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2599 {
  position:absolute;
  left:537px;
  top:30px;
  width:76px;
  height:30px;
}
#u2600 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2601 {
  position:absolute;
  left:613px;
  top:30px;
  width:89px;
  height:30px;
}
#u2602 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2603 {
  position:absolute;
  left:0px;
  top:60px;
  width:58px;
  height:30px;
}
#u2604 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2605 {
  position:absolute;
  left:58px;
  top:60px;
  width:79px;
  height:30px;
}
#u2606 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2607 {
  position:absolute;
  left:137px;
  top:60px;
  width:108px;
  height:30px;
}
#u2608 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2609 {
  position:absolute;
  left:245px;
  top:60px;
  width:109px;
  height:30px;
}
#u2610 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2611 {
  position:absolute;
  left:354px;
  top:60px;
  width:95px;
  height:30px;
}
#u2612 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2613 {
  position:absolute;
  left:449px;
  top:60px;
  width:88px;
  height:30px;
}
#u2614 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2615 {
  position:absolute;
  left:537px;
  top:60px;
  width:76px;
  height:30px;
}
#u2616 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2617 {
  position:absolute;
  left:613px;
  top:60px;
  width:89px;
  height:30px;
}
#u2618 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2619 {
  position:absolute;
  left:221px;
  top:126px;
  width:19px;
  height:16px;
  font-size:14px;
}
#u2620 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2621 {
  position:absolute;
  left:224px;
  top:158px;
  width:16px;
  height:16px;
}
#u2622 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2623 {
  position:absolute;
  left:224px;
  top:188px;
  width:16px;
  height:16px;
}
#u2624 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2626 {
  position:absolute;
  left:210px;
  top:79px;
  width:96px;
  height:25px;
}
#u2626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2626_input:disabled {
  color:grayText;
}
#u2627 {
  position:absolute;
  left:316px;
  top:79px;
  width:171px;
  height:25px;
}
#u2627_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2628 {
  position:absolute;
  left:497px;
  top:79px;
  width:61px;
  height:25px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2630 {
  position:absolute;
  left:631px;
  top:80px;
  width:175px;
  height:22px;
}
#u2630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2630_input:disabled {
  color:grayText;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2631 {
  position:absolute;
  left:816px;
  top:77px;
  width:74px;
  height:27px;
}
#u2632 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2634 {
  position:absolute;
  left:105px;
  top:100px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2635 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2636 {
  position:absolute;
  left:105px;
  top:138px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2638 {
  position:absolute;
  left:105px;
  top:213px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2639 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2640 {
  position:absolute;
  left:105px;
  top:250px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2642 {
  position:absolute;
  left:105px;
  top:288px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2644 {
  position:absolute;
  left:105px;
  top:363px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2646 {
  position:absolute;
  left:105px;
  top:175px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2647 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2648 {
  position:absolute;
  left:105px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2650 {
  position:absolute;
  left:105px;
  top:400px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2651 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2652 {
  position:absolute;
  left:105px;
  top:438px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2653 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2654 {
  position:absolute;
  left:105px;
  top:475px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2655 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2656 {
  position:absolute;
  left:105px;
  top:513px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2657 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
