body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2615 {
  position:absolute;
  left:100px;
  top:20px;
  width:802px;
  height:41px;
}
#u2616 {
  position:absolute;
  left:2px;
  top:12px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:560px;
}
#u2618 {
  position:absolute;
  left:2px;
  top:272px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u2619 {
  position:absolute;
  left:199px;
  top:60px;
  width:703px;
  height:560px;
  color:#D7D7D7;
}
#u2620 {
  position:absolute;
  left:2px;
  top:272px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2621 {
  position:absolute;
  left:417px;
  top:27px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2622 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  position:absolute;
  left:807px;
  top:573px;
  width:74px;
  height:27px;
}
#u2624 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2625 {
  position:absolute;
  left:723px;
  top:573px;
  width:74px;
  height:27px;
}
#u2626 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2628 {
  position:absolute;
  left:200px;
  top:120px;
  width:707px;
  height:95px;
}
#u2629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2629 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2630 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2631 {
  position:absolute;
  left:58px;
  top:0px;
  width:79px;
  height:30px;
}
#u2632 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2633 {
  position:absolute;
  left:137px;
  top:0px;
  width:108px;
  height:30px;
}
#u2634 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2635 {
  position:absolute;
  left:245px;
  top:0px;
  width:109px;
  height:30px;
}
#u2636 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2637 {
  position:absolute;
  left:354px;
  top:0px;
  width:95px;
  height:30px;
}
#u2638 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2639 {
  position:absolute;
  left:449px;
  top:0px;
  width:88px;
  height:30px;
}
#u2640 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2641 {
  position:absolute;
  left:537px;
  top:0px;
  width:76px;
  height:30px;
}
#u2642 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2643 {
  position:absolute;
  left:613px;
  top:0px;
  width:89px;
  height:30px;
}
#u2644 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2645 {
  position:absolute;
  left:0px;
  top:30px;
  width:58px;
  height:30px;
}
#u2646 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2647 {
  position:absolute;
  left:58px;
  top:30px;
  width:79px;
  height:30px;
}
#u2648 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2649 {
  position:absolute;
  left:137px;
  top:30px;
  width:108px;
  height:30px;
}
#u2650 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2651 {
  position:absolute;
  left:245px;
  top:30px;
  width:109px;
  height:30px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2653 {
  position:absolute;
  left:354px;
  top:30px;
  width:95px;
  height:30px;
}
#u2654 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2655 {
  position:absolute;
  left:449px;
  top:30px;
  width:88px;
  height:30px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2657 {
  position:absolute;
  left:537px;
  top:30px;
  width:76px;
  height:30px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2659 {
  position:absolute;
  left:613px;
  top:30px;
  width:89px;
  height:30px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2661 {
  position:absolute;
  left:0px;
  top:60px;
  width:58px;
  height:30px;
}
#u2662 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2663 {
  position:absolute;
  left:58px;
  top:60px;
  width:79px;
  height:30px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u2665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2665 {
  position:absolute;
  left:137px;
  top:60px;
  width:108px;
  height:30px;
}
#u2666 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2667 {
  position:absolute;
  left:245px;
  top:60px;
  width:109px;
  height:30px;
}
#u2668 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u2669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2669 {
  position:absolute;
  left:354px;
  top:60px;
  width:95px;
  height:30px;
}
#u2670 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2671 {
  position:absolute;
  left:449px;
  top:60px;
  width:88px;
  height:30px;
}
#u2672 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u2673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u2673 {
  position:absolute;
  left:537px;
  top:60px;
  width:76px;
  height:30px;
}
#u2674 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u2675 {
  position:absolute;
  left:613px;
  top:60px;
  width:89px;
  height:30px;
}
#u2676 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u2677 {
  position:absolute;
  left:221px;
  top:126px;
  width:19px;
  height:16px;
  font-size:14px;
}
#u2678 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2677_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2679 {
  position:absolute;
  left:224px;
  top:158px;
  width:16px;
  height:16px;
}
#u2680 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2679_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2681 {
  position:absolute;
  left:224px;
  top:188px;
  width:16px;
  height:16px;
}
#u2682 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2684 {
  position:absolute;
  left:210px;
  top:79px;
  width:96px;
  height:25px;
}
#u2684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2684_input:disabled {
  color:grayText;
}
#u2685 {
  position:absolute;
  left:316px;
  top:79px;
  width:171px;
  height:25px;
}
#u2685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2686 {
  position:absolute;
  left:497px;
  top:79px;
  width:61px;
  height:25px;
}
#u2687 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2688 {
  position:absolute;
  left:631px;
  top:80px;
  width:175px;
  height:22px;
}
#u2688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2688_input:disabled {
  color:grayText;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2689 {
  position:absolute;
  left:816px;
  top:77px;
  width:74px;
  height:27px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2692 {
  position:absolute;
  left:105px;
  top:100px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2693 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2694 {
  position:absolute;
  left:105px;
  top:138px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2696 {
  position:absolute;
  left:105px;
  top:213px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2697 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2698 {
  position:absolute;
  left:105px;
  top:250px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2699 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2700 {
  position:absolute;
  left:105px;
  top:288px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2701 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2702 {
  position:absolute;
  left:105px;
  top:363px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2703 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2704 {
  position:absolute;
  left:105px;
  top:175px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2706 {
  position:absolute;
  left:105px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2707 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2708 {
  position:absolute;
  left:105px;
  top:400px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2710 {
  position:absolute;
  left:105px;
  top:438px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2712 {
  position:absolute;
  left:105px;
  top:475px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2713 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2714 {
  position:absolute;
  left:105px;
  top:513px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2715 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
